body {
}

@media (min-width: 768px) {
  #hero {
    width: 100%;
    height: 100vh;
    background: url("../../assets/img/HOME%20BG.png") center / cover no-repeat;
    color: var(--bs-emphasis-color);
    padding: 2px;
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/HOME%20BG.avif") center / cover no-repeat;
  color: var(--bs-emphasis-color);
}

#quote {
  font-size: 52.88px;
  text-align: center;
}

.btn {
  width: 279px;
}

#button {
  border: 3px white;
  border-radius: 45px;
  color: var(--bs-btn-disabled-color);
  font-family: Poppins, sans-serif;
  width: 207px;
  /*height: 78px;*/
  /*margin: 93px;*/
  /*padding: 8px;*/
}

.btn {
  background: var(--bs-secondary-color);
}

